.up {
  max-width: 1280px;
  height: 56px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: row;
}
.left2,
.left3 {
  margin: 16px 15px 16px 15px;
}

.right {
  display: flex;
  flex-direction: row;
  margin: 8px 0px 8px 0px;
}

.right2 {
  margin: 8px 16px 8px 0px;
}

.right3 {
  margin: 8px 16px 8px 16px;
}

.potrebnosti {
  max-width: 1248px;
  margin: 8px 16px 16px 16px;
  max-height: 56px;
  line-height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(42, 45, 67, 0.25);
  border-radius: 12px;
  text-align: start;
  padding: 10px 0px 10px 11px;
  font-weight: 300;
  font-size: 24px;
  font-family: Roboto, sans-serif;
}
